/* Google fornt */


@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


/* Body style */


body{
    font-family: 'Poppins', sans-serif;
    margin: auto;
    text-align: center;
}


/* Header style */


.header{
    width: 1321px;
    height: 646px;
    background: #161616;
    border-radius: 30px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    margin: auto;
}
#header-info{
    padding: 113px;
}
h1{
    color: white;
    font-size: 45px;
    text-align: left;
    
}
p{
    color: white;
    text-align: justify;
    
}
.live{
    width: 187px;
    height: 56px;
    background: #DD0000;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    float: left;
}
#header-img{
    padding-top: 33px;
    display: flex;
}


/* main body style */


#main-body{
    justify-content: center ;
    display: grid;
    grid-template-columns: 312px 1000px;
    margin-top: 100px;
}
#nav{
    width: 312px;
    height: 312px;
    background: #161616;
    border-radius: 10px;
}
a.nav {
    padding: 17px 0px 17px 0px;
    width: 252px;
    margin-top: 30px;
    margin-left: 30px;
    border-radius: 10px;
    text-align: center;
    background: #FFFFFF;
    display: block;
    text-decoration: none;
    font-size: 20PX;
    border: 1px solid #E8E8E8;
    
}
a.nav:hover{
    color: #FFFFFF;
    background-color: #d64242;
}
a.nav-slc{
    padding: 17px 0px 17px 0px;
    width: 252px;
    margin-top: 30px;
    margin-left: 30px;
    border-radius: 10px;
    text-align: center;
    display: block;
    text-decoration: none;
    font-size: 20PX;
    background-color: #DD0000;
    color: #FFFFFF;
}
#content{
    width: 1000px;    
    margin-left: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.blog{
    width: 312px;
    height: 362px;
    border-radius: 11px;
    border: 1px solid #5f5f5f33;
    margin-bottom: 20px;
    text-align: left;
}
.blog-btn{
    width: 100px;
    height: 32px;
    border: 1px solid #161616;
    border-radius: 5px;
    font-size: 16px;
    margin: 20px 0px 0px 20px
}
h4{
    margin-left: 20px;
}
.info{
    display: flex;
}
.duration{
    margin-left: 20px;
}
.comments{
    margin-left: 40px;
}
span{
    margin-left: 10px;
}
a.more{
    visibility: hidden;
}

/* footer style */

.footer{
    background: black;
    padding-top: 80px;
}
h2{
    margin: 30px;
    text-align: center;
    color: #FFFFFF;
    font-size: 30PX;
    padding-bottom: 30px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
ul{
    text-align: center;
}
a.link{
    display: inline-block;
    text-decoration: none;
    color: #B9B9B9;
    margin: 10px 10px 80px 10px;
}

/* upcoming math page style */

.match{
    width: 312px;
    height: 242px;
    margin-bottom: 20px;
    border: 1px solid #E8E8E8;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.flag{
    width: 93.04px;
    height: 56.18px;
    margin: 25px;
}
.date-time{
    color: #4D4D4D;
    margin-left: 0px;
}


/* style for tablet screen */

@media only screen and (min-width:689px) and (max-width:992px) {
    .header{
        width: 734px;
    }
    #header-info{
        width: 316px;
        padding: 25px;
    }
    #main-body{
        display: inline-block;
    }
    #nav{
        display: flex;
        height: auto;
        width: 734px;
        background-color: #FFFFFF;
        justify-content: space-between;
    
    }
    a.nav{
        width: 205px;
        margin-left: 0px;
        
    }
    a.nav-slc{
        margin-left: 0px;
        width: 205px;
    }
    #blog{
        width: auto;
        grid-template-columns: repeat(2, 1fr);
    }
    .blog{
        margin: 20px auto 20px auto;
    }
    #more{
        text-align: center;
        margin-bottom: 20px;
    }
    a.more{
        visibility: visible;
        width: 131px;
        height: 47px;
        border-radius: 5px;
        text-align: center;
        text-decoration: none;
        font-size: 20PX;
        background-color: #DD0000;
    }
    
}
/* style for mobile screen */

@media only screen and (max-width:688px) {
    .header{
        width: 334px;
        height: 472px;
        display: flex;
        flex-direction: column;
    }
    #header-info{
        width: 258px;
        height: 178px;
        padding: 30px;
    
    }
    h1{
        font-size: 22px;
    }
    p{
        height: 45px;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .live{
        width: 135px;
        height: 35px;
    }
    #header-img{
        justify-content: center;
    }
    .head-img{
        height: 203px;
    }
    #main-body {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    #nav{
        background-color: white;
    }
    #blog{
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-top: 20px;
    }
    a.link {
        display: block;
        margin: 10px 0px 35px 0px;
    }
}